<div class="animHome" >

  <div class="svg-container">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 1080" width="1920px" height="1080px"
         preserveAspectRatio="xMidYMid slice">
      <defs>
        <!-- Mask -->
        <mask id="mask" x="0" y="0" width="1920" height="1080">
          <rect x="0" y="0" width="1920" height="1080"/>
          <text x="960" y="1.75em">gowan</text>
        </mask>
      </defs>
      <rect x="0" y="0" width="1920" height="1080"/>
    </svg>

  </div>
  <div class="video-container">
    <video src="assets/video/Marble.webm" loop playsinline muted autoplay></video>
  </div>

</div>
