
@font-face {
    font-family: 'gowan';
    src:  url('gowan.eot?bucslw');
    src:  url('gowan.eot?bucslw#iefix') format('embedded-opentype'),
    url('gowan.ttf?bucslw') format('truetype'),
    url('gowan.woff?bucslw') format('woff'),
    url('gowan.svg?bucslw#gowan') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Altone-Bold';
    src: url('Altone-Bold.eot');
    src: url('Altone-Bold.eot?#iefix') format('embedded-opentype'),
    url('Altone-Bold.svg#Altone-Bold') format('svg'),
    url('Altone-Bold.ttf') format('truetype'),
    url('Altone-Bold.woff') format('woff'),
    url('Altone-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url('Poppins-Bold.eot');
    src: url('Poppins-Bold.eot?#iefix') format('embedded-opentype'),
    url('Poppins-Bold.svg#Poppins-Bold') format('svg'),
    url('Poppins-Bold.ttf') format('truetype'),
    url('Poppins-Bold.woff') format('woff'),
    url('Poppins-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('Montserrat-Bold.eot');
    src: url('Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
    url('Montserrat-Bold.svg#Montserrat-Bold') format('svg'),
    url('Montserrat-Bold.ttf') format('truetype'),
    url('Montserrat-Bold.woff') format('woff'),
    url('Montserrat-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-BoldItalic';
    src: url('Montserrat-BoldItalic.eot');
    src: url('Montserrat-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('Montserrat-BoldItalic.svg#Montserrat-BoldItalic') format('svg'),
    url('Montserrat-BoldItalic.ttf') format('truetype'),
    url('Montserrat-BoldItalic.woff') format('woff'),
    url('Montserrat-BoldItalic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-SemiBold';
    src: url('Montserrat-SemiBold.eot');
    src: url('Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('Montserrat-SemiBold.svg#Montserrat-SemiBold') format('svg'),
    url('Montserrat-SemiBold.ttf') format('truetype'),
    url('Montserrat-SemiBold.woff') format('woff'),
    url('Montserrat-SemiBold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-SemiBoldItalic';
    src: url('Montserrat-SemiBoldItalic.eot');
    src: url('Montserrat-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
    url('Montserrat-SemiBoldItalic.svg#Montserrat-SemiBoldItalic') format('svg'),
    url('Montserrat-SemiBoldItalic.ttf') format('truetype'),
    url('Montserrat-SemiBoldItalic.woff') format('woff'),
    url('Montserrat-SemiBoldItalic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fatalitys Edge';
    src: url('Fatalitys Edge.eot');
    src: url('Fatalitys Edge.eot?#iefix') format('embedded-opentype'),
    url('Fatalitys Edge.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fatalitys-Edge';
    src: url('Fatalitys-Edge.svg#Fatalitys-Edge') format('svg'),
    url('Fatalitys-Edge.ttf') format('truetype'),
    url('Fatalitys-Edge.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Baunk';
    src: url('Baunk.eot');
    src: url('Baunk.eot?#iefix') format('embedded-opentype'),
    url('Baunk.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BaunkRegular';
    src: url('BaunkRegular.svg#BaunkRegular') format('svg'),
    url('BaunkRegular.ttf') format('truetype'),
    url('BaunkRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-ExtraBold';
    src: url('Montserrat-ExtraBold.eot');
    src: url('Montserrat-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('Montserrat-ExtraBold.svg#Montserrat-ExtraBold') format('svg'),
    url('Montserrat-ExtraBold.ttf') format('truetype'),
    url('Montserrat-ExtraBold.woff') format('woff'),
    url('Montserrat-ExtraBold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-Medium';
    src: url('Montserrat-Medium.eot');
    src: url('Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
    url('Montserrat-Medium.svg#Montserrat-Medium') format('svg'),
    url('Montserrat-Medium.ttf') format('truetype'),
    url('Montserrat-Medium.woff') format('woff'),
    url('Montserrat-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-Regular';
    src: url('Poppins-Regular.eot');
    src: url('Poppins-Regular.eot?#iefix') format('embedded-opentype'),
    url('Poppins-Regular.svg#Poppins-Regular') format('svg'),
    url('Poppins-Regular.ttf') format('truetype'),
    url('Poppins-Regular.woff') format('woff'),
    url('Poppins-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url('Montserrat-Regular.eot');
    src: url('Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
    url('Montserrat-Regular.svg#Montserrat-Regular') format('svg'),
    url('Montserrat-Regular.ttf') format('truetype'),
    url('Montserrat-Regular.woff') format('woff'),
    url('Montserrat-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}






