<section class="content" >

  <nav class="filter">
    <ul>
      <li><a class="effect" routerLinkActive="active" routerLink="/Realisations/IdentiteVisuelles">Identité visuelle</a></li><div class="separation">X</div>
      <li><a class="effect" routerLinkActive="active" routerLink="/Realisations/Posters">Design poster</a></li><div class="separation">X</div>
      <li><a class="effect" routerLinkActive="active" routerLink="/Realisations/WebDesigns">Web design</a></li>
    </ul>
  </nav>

</section>

